#root {
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Offcanvas */

.bg-white {
  background-color: #fff !important;
}

.offcanvas-backdrop.show {
  opacity: .2;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-page {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #242424 #0000;
  animation: l16 1s infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.loader-page::before,
.loader-page::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.loader-page::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}

.loader-page::after {
  margin: 8px;
}

.loader-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn)
  }
}

/* End Loader */

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a4949;
}


/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #111111;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #cc0000;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */

.avatar {
  height: 40px;
  width: 40px;
}

.kUwhdZ option {
  color: #000000 !important;
}

.bg-blue {
  background-color: #134173 !important;
}

.card {
  border: none !important;
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  white-space: pre-wrap;
  animation: blink 1s infinite;
}


.status-new {
  margin: 0.75rem;
  border-radius: 1.5rem;
  background: #a8d0ed;
  color: #1761b0;
}

.status-pending {
  margin: 0.75rem;
  border-radius: 1.5rem;
  background: #fffd88;
  color: #6e690b;
}

.status-completed {
  margin: 0.75rem;
  border-radius: 1.5rem;
  background: #abeed2;
  color: #229263;
}

.event-details {
  max-height: 55px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}