
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


html[data-bs-theme='dark'] {
  --bs-body-bg: #323949;
}


body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

li {
  list-style: none;
}

hr {
  margin: 2rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

input,
select {
  font-size: 0.75rem !important;
}