.sidebar-divider {
  border-right: 1px solid #ddd;
  height: 100vh;
}

.status-new,
.status-pending,
.status-completed {
  margin: 0.5rem;
  border-radius: 50px;
}

.status-new {
  background-color: #2377d1;
  color: #ffffff;
}

.status-pending {
  background-color: #fff825;
  color: #1c1e00;
}

.status-completed {
  background-color: #2da976;
  color: #ffffff;
}