.sidebar-divider {
  border-right: 1px solid #ddd;
  height: 100vh;
}

.status-new {
  margin: 0.75rem;
  border-radius: 1.5rem;
  background: #a8d0ed;
  color: #1761b0;
}

.status-pending {
  margin: 0.75rem;
  border-radius: 1.5rem;
  background: #fffd88;
  color: #6e690b;
}

.status-completed {
  margin: 0.75rem;
  border-radius: 1.5rem;
  background: #abeed2;
  color: #229263;
}

.event-details {
  max-height: 55px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blink {
  white-space: pre-wrap;
}